# Operating system files
.DS_Store
Thumbs.db
Desktop.ini

# Editor settings
.idea/
.vscode/
*.swp
*.tmp

# FPGA tool output
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.jou
*.log
*.str
*.wdb
*.vcd
